@model IEnumerable<NewsAPI.Models.News>


@{
    ViewData["Title"] = "Index";
}

<!--/Banner-Start-->
<section class="bannerw3l-hnyv">
    <div class="slider col-12" style="height:650px;border-radius:3px">
        <!-- slides -->
        <div class="slider__slides">
            <div class="slide s--active">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">
                            Top News
                        </h3>
                        <p class="slide__text">All news, moment by moment </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">
                            Best Stuff Ever
                        </h3>
                        <p class="slide__text">Work Around the clock </p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Stock exchange</h3>
                        <p class="slide__text">news about the stock exchange</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Stay tuned for latest news</h3>
                        <p class="slide__text">news here and there</p>
                    </div>
                </div>
            </div>
            <div class="slide s--prev">
                <div class="slide__inner">
                    <div class="slide__content">
                        <h3 class="slide__heading">Breaking neeews</h3>
                        <p class="slide__text">Stay with us to know about everything</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- slides end -->
        <div class="slider__control">
            <div class="slider__control-line"></div>
            <div class="slider__control-line"></div>
        </div>
        <div class="slider__control slider__control--right m--right">
            <div class="slider__control-line"></div>
            <div class="slider__control-line"></div>
        </div>
    </div>
    <div class="bannerw3l-layer"></div>
</section>
<!--//Banner-End-->

<!--/about-home-->
<section class="w3l-servicesblock py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-12 about-right-faq align-self">    
                <h3 class="title-w3l mb-4"> Top <span class="thin">News</span></h3>    
                <div class="three-grids-hmew3 mt-5 pt-lg-3">
                    <div class="three-grid-1 text-center">
                        <img src="images/s11.jpg" alt="" class="img-fluid radius-image">
                        <h4>Egypt</h4>
                        <p class="mt-2">
                            Basic shark safety information not shared with tourists before Red Sea attack in Egypt
                            Viral video shows Russian man being attacked by tiger shark off country's Red Sea coast
                        </p>
                    </div>
                    <div class="three-grid-1 text-center">
                        <img src="images/s22.jpg" alt="" class="img-fluid radius-image">
                        <h4>Netherlands</h4>
                        <p class="mt-2">
                            The Netherlands kickstart their cricket World Cup qualification campaign against Zimbabwe on Tuesday in Harare with further Group A matches against tournament favourites West Indies, United States of America and Nepal to follow.
                        </p>
                    </div>
                    <div class="three-grid-1 text-center">
                        <img src="images/s33.jpg" alt="" class="img-fluid radius-image">
                        <h4>Emirates</h4>
                        <p class="mt-2">
                            Dubai Esports and Games Festival: Play Beyond to bring best influencers to battle it out across multiple genres
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--//about-home-->
<!--/w3l-passion-mid-sec-->
<br />
<br />

    <div class="container">
    <form action="/NewsFront/SortByPublicationDate" method="get">
        <div class="form-group text-center">
            @*<h3> Click here to Sort by Publication Date </h3>*@
            <input type="submit" value="Click here to Sort by Publication Date" class="btn btn-primary" />
        </div>
    </form>

<h3 style="text-align:center"> Or Filter By Author Name </h3>
<p>
    @if (ViewBag.AuthorList != null)
    {

        <form action="/NewsFront/FilterByAuthor/{id}" method="post">
            <div class="form-group text-center">
                <select name="Author" class="form-select d-inline-block">
                    @foreach (var C in ViewBag.AuthorList)
                    {
                        <option value="@C.Value">@C.Text</option>
                    }
                </select>
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    }

</p>

</div>

<section class="w3l-passion-mid-sec">
    <div class="container">
        <div class="container">
            <div class="row w3l-passion-mid-grids">
                @foreach (var item in Model)
                {

                    <div style="background-color:rgb(247,247,247);" class="col-lg-5 passion-grid-item-info  mt-lg-3 mt-5 ml-lg-2">
                        <h6 class="title-subw3hny"> @Html.DisplayFor(modelItem => item.Author.Name)</h6>


                        <h3 class="title-w3l mb-4" >@Html.DisplayFor(modelItem => item.Title)</h3>

                        <h2  class="mt-3 pr-lg-3">
                            @*@Html.DisplayFor(modelItem => item.OurNews)*@
                        </h2>
                        @*<div class="col-lg-4 w3hny-passion-item">*@
                            <div class="passion-grid-item-pic mt-lg-3">
                            <img class="col-lg-12" src="@Html.DisplayFor(modelItem => item.NewsImg)" alt="paayz">

                            </div>
                        @*</div>*@
                        <h6 class="title-subw3hny">
                            @Html.DisplayFor(modelItem => item.PublicationDate)
                        </h6>
                      
                        <a class="btn btn-primary btn-style mt-lg-4 mt-4" asp-action="Details" asp-route-id="@item.Id">Details</a>
                       
                        <br />
                        <hr />
                    </div>
                }
     </div>
        </div>
    </div>
</section>
<!--//w3l-passion-mid-sec-->
<br />
<br />
<br />
<section class="w3l-stats-sec py-5">
    <div class="container py-md-3">
        <div class="row w3l-stats-section stats-con">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">1200 </p>
                <h3>Branches</h3>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-md-0 mt-0">
                <p class="counter">1500</p>
                <h3>Events per month</h3>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">1545 </p>
                <h3>Active members</h3>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">1645 </p>
                <h3>Happy Clients</h3>
            </div>
        </div>
    </div>
</section>
<!--/w3l-courses-->
<!--/testimonials-->
<section class="w3l-clients-1" id="testimonials">
    <!--/cusrtomer-layout-->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <!--/testimonial-grids-->
            <div class="testimonial-row">
                <div class="testimonial-content">
                    <div class="testimonial">
                        <div class="test-img">
                            <img src="images/team1.jpg" class="img-fluid" alt="client-img">
                        </div>
                        <div class="testi-des">
                            <i class="fas fa-quote-left"></i>
                            <div class="peopl align-self">
                                <h3>Aya Adel</h3>
                            </div>
                        </div>
                        <blockquote>
                            I am a Software Engineer specializing in full stack development. Experienced with all stages of the development cycle for dynamic web
                            projects, strong understanding of Agile methodologies. Well-versed in numerous programming languages including HTML5 , JavaScript, Angular , ASP.net, CSS3, SQL. Strong background in project management and customer relations, I am always looking for the newest
                            technologies to work with.

                        </blockquote>
                        <ul class="social-media-test m-0 mt-4 p-0">
                            <li>
                                <a href="#facebook" class="facebook">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                            </li>
                            <li>
                                <a href="#instagram" class="instagram">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--//testimonial-grids-->
        </div>
    </div>
    <!--//cusrtomer-layout-->
</section>


 

